<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cau.escape_crisis_seoul">

    <application
        android:allowBackup="true"
        android:icon="@drawable/mainicon"
        android:label="위기탈출!서울시!(가제)"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartActivity"
            android:label="@string/Start">
        </activity>
        <activity
            android:name=".EmergencyActivity"
            android:label="응급">
        </activity>

    </application>

</manifest>